<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="favicon.ico"/>

    @{
        /* Title */
        ViewData.TryGetValue("Title", out var title);
        title ??= "Valour: Built for Communities";
        <title>@title</title>
        <meta name="og:title" content="@title">
        <meta name="twitter:title" content="@title">


        /* Description */
        ViewData.TryGetValue("Description", out var description);
        description ??= "Join the movement for a more flexible, transparent, and open platform made by communities for communities.";
        <meta name="description" content="@description">
        <meta name="og:description" content="@description">
        <meta name="twitter:description" content="@description">

        /* Keywords */
        ViewData.TryGetValue("Keywords", out var keywords);
        keywords ??= "Gaming Community, Chat Platform, Content Creators, Live Streaming, Multiplayer Gaming, Social Gaming, Esports Chat, Open Source, Privacy, Private Chat";
        <meta name="keywords" content="@keywords">

        /* Card Type */
        ViewData.TryGetValue("CardType", out var cardType);
        cardType ??= "summary_large_image";
        <meta name="twitter:card" content="@cardType"/>

        /* Image */
        ViewData.TryGetValue("Image", out var image);
        image ??= "https://valour.gg/media/twitter-card.png";
        <meta name="og:image" content="@image">
        <meta name="twitter:image" content="@image">

        /* Image Alt */
        ViewData.TryGetValue("ImageAlt", out var imageAlt);
        imageAlt ??= "The Valour logo";
        <meta name="twitter:image:alt" content="@imageAlt">
    }

    <meta name="twitter:site" content="@@valourapp">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#00FAFF">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Valour.Web.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark v-navbar border-bottom box-shadow">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index">
                <img class='navbar-icon' src='media/logo/logo-64.png' />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link v-nav-link" href="@this.Context.Request.Scheme://app.@this.Context.Request.Host.ToUriComponent()">App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link v-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link v-nav-link" href="https://raw.githubusercontent.com/Vooper-Media-LLC/Valour/main/PRIVACY">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link v-nav-link" asp-area="" asp-controller="FAQ" asp-action="Index">FAQ</a>
                    </li>
                    <partial name='_Login.cshtml' />
                </ul>
            </div>
        </div>
    </nav>
</header>

@{
    ViewData.TryGetValue("main-class", out var mainClass);
    <div class="@(mainClass ?? "container")">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
}

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - Valour Software - <a href="https://github.com/Valour-Software/Valour/blob/main/PRIVACY">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>